
.open-sans-font {
    margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* common style */
.text-primary{
    color: #FD6E0A;
}
.dark-3{
    color: #757575;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* header styles */
.header{
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-size: 45px;
    font-weight: 900;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
}
nav ul{
    display: flex;
    align-items: center;
}

/* banner styles */
.banner-contant{
    width: 585px;
    margin-left: 150px;
}
.banner-gratings{
    font-size: 45px;
    font-weight: 600px;
    margin: 0 auto;
    margin-top: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner-description{
    font-size: 18px;
    color: #757575;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 250px;

}

.banner-profile-img{
    width: 580px;
}

/* main styles */
.main{
    max-width: 1140px;
    margin: 0 auto;
}


/* about section styles */
.about{
    background-color: #FFF8F3;
    text-align: center;
    padding: 130px;
    margin-top: 130px;
    border-radius: 10px;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
}
.about-description{
    font-size: 18px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}
/* skills section styles */
.skills-description, .skills-title{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 20px;
    /* padding: 30px; */
}
.skills{
    margin-top: 130px;
}
.skill{
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill-description{
    text-align: left;
}

/* resume section styles */
.resume{
    margin-top: 130px;
    margin-bottom: 130px;
}
.resume-section-title{
    text-align: center;
}
.resume-container{
    display: flex;
    gap: 20px;
}
.experience-title{
    color: #474747;
}
.experience-subtitle, .experience-desciption, .col-title, .experience-title{
    color: #757575;
}
.btn{
    text-align: center;
    margin-top: 50px;
}
.btn:hover{
    cursor: pointer;
}
/* footer section styles */
footer{
    display: flex;
    background-color: #FFF8F3;
    /* margin-top: 130px; */
    padding: 130px 230px;
    gap: 20px;
}
.footer-col{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 50px;
    padding: 10px 20px;
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}